@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Lato:wght@300&family=Poppins:wght@400;600&display=swap');


:root{
    --green: #00a85b;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}


*{
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}